<mat-toolbar color="primary">
  <a class="filler" color="primary" routerLink="" routerLinkActive="active">Login</a>
  <a class="gap" color="primary" routerLink="/signup" routerLinkActive="active">Sign Up</a>
  <a class= "filler" color="primary" routerLink="/uploadpage" routerLinkActive="active">Admin Upload Page</a>
  <a class="filler" color="primary" routerLink="/homepage" routerLinkActive="active">Home Page</a>
  <a class="filler" color="primary" routerLink="/shoppingcartpage" routerLinkActive="active">Shopping Cart Page</a>    
</mat-toolbar>
<h1> Admin Upload Page </h1>
  <form [formGroup]="adminUploadForm">
      <div class="form-container" style="padding-top:10px">

        <!-- Product ID -->
        <mat-form-field>
          <input matInput placeholder="Product ID" formControlName="prodIdControl" [(ngModel)]="product.id">
          <mat-error *ngIf="adminUploadForm.controls.prodIdControl.hasError('required')">
            Product ID is <strong>required.</strong>
          </mat-error>
        </mat-form-field>
        <!-- Product Name  -->
        <mat-form-field>
          <input matInput placeholder="Product Name" formControlName="prodNameControl" [(ngModel)]="product.name">
          <mat-error *ngIf="adminUploadForm.controls.prodIdControl.hasError('required')">
            Product Name is <strong> required.</strong>
          </mat-error>
        </mat-form-field>
        <!-- Product Image -->
        <form  method="POST" action="/v1/cosmetics4u/api/product/uploadImage" enctype="multipart/form-data" >
          <!-- <input type="file" id="prodImage" name="images" placeholder="Product Image"> -->
          <input type="file" id="fileUpload" name="productImage"/>
        
          <button>Upload Image</button>
        </form>
        <!-- Image URL -->
        <mat-form-field>
          <input matInput placeholder="Image URL"  formControlName="prodImageUrlControl" [(ngModel)]="product.imageUrl">
          <mat-error *ngIf="adminUploadForm.controls.prodImageUrlControl.hasError('required')">
            Product Image Url is required. Please choose file and upload first.
          </mat-error>
        </mat-form-field>
            
        

        

        <!-- Product Type -->
        <mat-form-field>
          <input matInput placeholder="Product Type" formControlName="prodTypeControl" [(ngModel)]="product.type">
          <mat-error *ngIf="adminUploadForm.controls.prodTypeControl.hasError('required')">
              Product Type is <strong> required.</strong>
            </mat-error>
        </mat-form-field>


        <!-- Product Price  -->
        <mat-form-field>
            <input matInput placeholder="Product Price" formControlName="prodPriceControl" [(ngModel)]="product.price">
            <mat-error *ngIf="adminUploadForm.controls.prodPriceControl.hasError('required')">
              Product Price is <strong> required.</strong>
            </mat-error>
            <mat-error *ngIf="adminUploadForm.controls.prodPriceControl.hasError('validateNumber')">
              Please enter numbers only.
            </mat-error>
          </mat-form-field>
      </div>

      <div>
        <button  class="form-button" mat-raised-button (click)="onUploadClick()" [disabled]="!adminUploadForm.valid" >
          Upload Product Details
        </button>
      </div>



  </form>