<mat-toolbar color="primary">
  <a class="filler" color="primary" routerLink="" routerLinkActive="active">Login</a>
  <a class="gap" color="primary" routerLink="/signup" routerLinkActive="active">Sign Up</a>
  <a class= "filler" color="primary" routerLink="/uploadpage" routerLinkActive="active">Admin Upload Page</a>
  <a class="filler" color="primary" routerLink="/homepage" routerLinkActive="active">Home Page</a>
</mat-toolbar>

<h1> Signup Page </h1>

<form [formGroup]="signupForm">

  <div class="form-container" style="padding-top:10px">
    <!-- Email -->
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="emailControl" [(ngModel)]="user.email">
      <mat-error *ngIf="signupForm.controls.emailControl.hasError('required')">
        Email is <strong>required.</strong>
      </mat-error>
      <mat-error *ngIf="signupForm.controls.emailControl.hasError('email')">
        Please enter a valid Email Address.
      </mat-error>
    </mat-form-field>
    <!-- Password and Retype Password -->
    <mat-form-field>
      <input id="input_Password" matInput placeholder="Password" type="password"  formControlName="passwordControl" [(ngModel)]="user.password">
      <mat-error *ngIf="signupForm.controls.passwordControl.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="signupForm.controls.passwordControl.hasError('validatePasswordStrength')">
        Must have a minimum of 6 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input id="input_retypePwd"  matInput placeholder="Retype Password" type="password"  formControlName="retypePasswordControl">
      <mat-error *ngIf="signupForm.controls.retypePasswordControl.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="signupForm.controls.retypePasswordControl.hasError('validatePasswordMatch')">
        Not matching passwords.
      </mat-error>
    </mat-form-field>
    

    <!-- User Role -->
    <mat-form-field>
      <input matInput placeholder="User Role" formControlName="userRoleControl" [(ngModel)]="user.userRole">
      <mat-error *ngIf="signupForm.controls.userRoleControl.hasError('required')">
        User Role is required.
      </mat-error>

    </mat-form-field>

  </div>
  <div>
    <button class="form-button" mat-raised-button (click)="onSignupClick()" [disabled]="!signupForm.valid">SIGN UP</button>
  </div>

</form>